.cCard {
   width: 200px; 
   height: 400px; 
   text-align: center;
}
.cImage {
   margin-left:auto; 
   margin-right:auto; 
   max-height:175px; 
   max-width: 200px; 
   width: auto; 
   height: auto;
}
.cText {
   overflow-y: auto;
}