* {
    box-sizing: border-box;
}
.teachingContainer {
    width: 90%;
    margin:30px 50px;
}
.teachingRow {
    width:100% !important;
}
.teachingColumn {
    float: left;
    width: 33.33%;
    padding: 0px 20px 0px 20px;
}
.teachingRow:after {
    content: "";
    display: table;
    clear: both;
}
.quote {
    padding-left: 30px;
}
.quoteBullet {
    padding-left:30px;
    padding-bottom:5px;
    display: block;
}
.quote:before {
	content: "“";
	color: #006AB9;
	font-weight: bolder;
    font-family: "Apple Chancery";
}
.quote:after {
	content: "”";
	color: #006AB9;
	font-weight: bolder;
    font-family: "Apple Chancery";
}
@media screen and (max-width: 3000px) {
    .teachingColumn {
        width: 50%;
    }
    .adminNotes {
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .teachingColumn {
        width: 100%;
    }
    .adminNotes {
        width: 100%;
    }
}