<!DOCTYPE html>
<html>
<head>
	<title>Paper Rock Scissors Results</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<h1>Results</h1>
   <table>
      <% for(var i=0; i<data.length; i++) {%>
         <tr>
            <% if (data[i].imageUrl) { %><td><img src="<%= data[i].imageUrl %>" alt=""></td><% } %>
            <td><%= data[i].name %></td>
            <td><%= data[i].price %></td>
            <td><%= data[i].description %></td>
         </tr>
      <% } %>
   </table>

</body>
</html>